* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #212121;
  color: #f2f2f2;
}
:root {
  --primary: #f2f2f2;
  --cyan: #80ffea;
  --green: #8aff80;
  --orange: #ffca80;
  --pink: #ff80bf;
  --purple: #9580ff;
  --yellow: #ffff80;
  --cyan-30: #80ffea33;
  --green-30: #8aff80;
  --pink-30: #FF80BF3;
  --yellow-30: #ffff80;
  --background-40: #282a3666;
  --cyan-40: #80ffea66;
  --green-40: #8aff80;
  --pink-40: #FF80BF6;
  --purple-40: #9580ff;
  --yellow-40: #ffff80;
}

.main {
  margin: 0 auto;
  width: 70%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  margin-top: 10rem;
  text-align: center;
}
table {
  margin-top: 4rem;
  table-layout: fixed;
  width: 80%;
}

table,
th,
td {
  border: 1px solid #f2f2f2;
  border-collapse: collapse;
  text-align: center;
  padding: 12px;
  padding-bottom: 12px;
}
p {
  margin-top: 1.5rem;
}
h1 {
  text-align: center;
  background-image: linear-gradient(135deg, var(--yellow) 0%, var(--pink) 100%);
  font-family: inherit;
  font-size: 48px;
  line-height: 50px;
  margin: 0px 0px 20px;
  color: #f2f2f2;
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
header p {
  background-image: linear-gradient(
    135deg,
    var(--cyan) 0%,
    var(--primary) 100%
  );
  font-family: inherit;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  margin: 0px 0px 20px;
  color: var(--cyan);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .para {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  background-clip: border-box;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 20px;
  margin: 10px 0;
}
a {
  color: #28a745;
}
a:hover {
  color: #007dff;
}
