*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;

}
h1{
    text-align: center;
    margin: auto;
    color: purple;
    font-weight: 700px;
}

#wall {
    background-color: black;
    width: 800px;
    height: 800px;
    margin: 1% auto;
    position: relative;
}
